body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background: rgb(232, 162, 132);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba( 0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0 ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10 px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 2 px;
    cursor: pointer;
}